li {
  transition: background-color 300ms, border-bottom 300ms;
}

.index {
  padding: 0.2rem 0;
  border-bottom: 1px solid var(--semantic-light-grey);
}

.author-attribution {
  font-weight: bold;
}

.edited-indicator {
  color: #A0A0A8;
  font-size: 0.85rem;
}

.highlighted {
  position: relative;
  background-color: #CCE2FE;
  border-bottom: 1px solid #CCE2FE;
}

.highlighted:before {
  position: absolute;
  left: -2.5%;
  content: "";
  width: 5%;
  background-color: #CCE2FE;
  height: 105%;
  top: 0.5%;
}
