:global(.pointing.label).prime-directive-welcome-prompt {
  position: absolute;
  bottom: 100%;
  right: -42%;

  text-align: justify;
  white-space: normal;
  /*width: 10.5rem;*/
  margin-right: 0;
}
